<section> 
	<h3> Text Extraction </h3>
	<table>
		<%= @docex.textext %>
	</table>

	<h3> Keyword Extraction </h3>
	<table>
		<%= @docex.keywords %>
	</table>

	<h3> Relationship Extraction </h3>
	<table>
		<%= @docex.relations %>
	</table>

	<h3> Concept Extraction </h3>
	<table>
		<%= @docex.concepts %>
	</table>
</section>
