<section> 
	<h3> TextExtraction </h3>
	<table>
		<%= @docex.textext %>
	</table>
	<table>
		<%= @docex.keywords %>
	</table>
	<table>
		<%= @docex.relations %>
	</table>
	<table>
		<%= @docex.concepts %>
	</table>
</section>